:root {
    --nice-padding: 6rem;
    --roundness: 0.75rem;
    --accent1: #db0202;
    --accent2: #b30505;
    --accent2_transp: #b3050555;
    --background1: #212529;
    --background2: #16191b;


    color-scheme: dark;
}

@font-face {
    font-family: mine;
    src: url(MinecraftTen-VGORe.ttf);
}

@font-face {
    font-family: craft;
    src: url(MinecraftItalic-R8Mo.otf);
}



span {
    font-family: 'Space Grotesk', sans-serif;
}

body {
    font-family:'Space Grotesk', sans-serif;
    background-color: var(--background1);
    color: white;
    margin:0px;
}


#more {
    padding-top:5rem;
    margin-top: -5rem;
}
#discord {
    padding-top:5rem;
    margin-top: -5rem;
}
#about {
    padding-top:5rem;
    margin-top: -5rem;
}
#join {
    padding-top:5rem;
    margin-top: -5rem;
}


.banner {
    display: flex;
    position: fixed;
    background-color: #ff000099;
    width: 100%;
    height: 3rem;
    z-index: 10;
    font-size: 2rem;
    font-weight: 600;
    justify-content: center;
    backdrop-filter: blur(15px);
    align-content: center;
    padding-top: .4rem;
}
.headline {
    margin-top: 2rem;
    color: #fff;
    font-size:3rem;
    text-align: center;
    font-weight: 600;
}





.desktop_navbar {
    position: fixed;
    display: flex;
    height: 4rem;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom:0;
   background-color: rgb(94, 29, 12, 0.15); 
    /*backdrop-filter: blur(15px); */
    z-index: 5;
    align-items: center;
    justify-content: center;
    flex-direction: row; 
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.desktop_navbar.transparent {
    background: linear-gradient(to bottom, rgba(94, 29, 12, 0.3), rgba(94, 29, 12, 0.2)); /* Gradient při načtení stránky */
    box-shadow: none;
}
  
.desktop_navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.5); /* Po scrollování pevná černá barva */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.desktop_navbar_logo_img {
    width: 4rem;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 22%;
}

.desktop_navbar_link {
    font-size: 1.2rem;
    padding: 2rem;
    padding-bottom: 40px;
    transition: all .5s;
    text-decoration: none;
    color: #CD5C5C;
    text-shadow: 2px 2px #5e1d0c;
    text-align: center;
    font-family: mine;
}

.desktop_navbar_link:hover {
    color: var(--accent1);
    color: #f2b035;
    text-shadow: 2px 2px#5e1d0c;
}

.desktop_navbar_link2 {
    padding:.5rem;
    color: #f2b035;
    text-shadow: 2px 2px #5e1d0c;
    text-decoration: none;
    text-align: center;
    border-radius: 18px;
    font-size: 20px;
    padding: 15px;
    font-weight: 900;
    transition: all .5s;
    font-family: craft;
}

@keyframes float-circle {
    0% {
        transform: translateX(0) translateY(0); /* Výchozí pozice */
    }
    25% {
        transform: translateX(15px) translateY(-15px); /* Pravý horní roh */
    }
    50% {
        transform: translateX(30px) translateY(0); /* Pravý dolní roh */
    }
    75% {
        transform: translateX(15px) translateY(15px); /* Levý dolní roh */
    }
    100% {
        transform: translateX(0) translateY(0); /* Návrat do výchozí pozice */
    }
}

.desktop_navbar_link2:hover {
    transform: scale(1.2);             /* Zvětšení při najetí */
    opacity: 0.8;                      /* Změna opacity při hoveru */
}

.desktop_navbar_link2_div {
    font-size: 1.2rem;
    padding: .8rem;
    background-color: #CD5C5C;
    font-family: craft;
    transition: all .5s;
    margin-left: auto;
    color: #f2b035;
    margin-right: 40px;
    margin-top: 10px;
    font-weight: 700;
    animation: float-circle 4s linear infinite;
    border: solid 1px var(--accent1);
    border-radius: var(--roundness);
    text-align: center;
} 
.desktop_navbar_link2_div2 {
    font-size: 1.2rem;
    padding: .8rem;
    background-color: #CD5C5C;
    font-family: craft;
    transition: all .5s;
    margin-left: auto;
    color: #f2b035;
    margin-right: 40px;
    margin-top: 10px;
    font-weight: 700;
    animation: float-circle 4s linear infinite;
    border: solid 1px var(--accent1);
    border-radius: var(--roundness);
    text-align: center;
} 


.desktop_navbar_link2_div2:hover {
    color: #5e1d0c;
}

.desktop_navbar_link2:hover {
    color: #5e1d0c;
    font-size: 25px;
}


.mainflex {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.minecraft{
    font-size: 20px;
    font-family: craft;
    font-weight: 900;
    color: white;
    
}



.main1 {
    padding-top: calc(var(--nice-padding) + 2rem);
    display:flex;
    width: 100%;
    align-self: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
    background-image: url(m.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


.main1_logo_a {
    margin-bottom: var(--nice-padding);
    cursor: default;
}

.main1_logo {
    display: block;
    align-self: center;
    margin-left:auto;
    margin-right: auto;
    transition: all .6s;
    max-width: 50rem;
}
.main1_logo:hover {
    transform: scale(1.10)
}

.main1_description {
    text-align: center;
    font-size:3rem;
    margin-bottom: var(--nice-padding);
    margin-left: 1rem;
    margin-right: 1rem;
}

.main1_actcent {
    font-weight: 800;
    color:var(--accent1);
    color: #CD5C5C;
    font-family: mine;
    text-shadow: 5px 5px #5e1d0c;
}

.main1_ipcopier {
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 2rem;
    background-color: var(--accent2_transp);
    border: 0px;
    border-radius: var(--roundness);
    color: white;
    transition: all .5s;
    cursor:pointer;
    position: relative;
}

.main1_ipcopier:hover {
    background-color: #f2b035;
    transform: scale(1.05)
}

.main1_ipcopier_text1 {
    font-size:2rem;
    font-family: mine;
}

.main1_ipcopier_text2 {
    font-size:1rem;
    color: #5e1d0c;
    font-family: craft; /*nebo sans-serif*/
}

.main1_popup {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -0%);
    text-align: center;
    background-color: rgba(175, 0, 0, 0.1);
    border:solid rgb(132, 17, 17) 1px;
    color: #000;
    border-radius: var(--roundness);
    z-index: 9999;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: -10.5rem;
}

.main1_downarrow {
    opacity: 80%;
    height: 1.5rem;
    padding:2rem;
    transition: all .5s;
    align-items: center;
    padding-left: 50%;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.main1_downarrow:hover {
    opacity: 1; /* Plná neprůhlednost při najetí myší */
    transform: translateY(10px); /* Posun šipky o 10px dolů */
}

.main2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    padding-bottom: 1rem;
    background-color: var(--background2); /*var(--background2)*/
    width: 100%;
}

.main2_features_div {
    padding-top: 2rem;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
}

.main2_feature {
    display: flex;
    background-color: #CD5C5C/*var(--background1)*/;
    height: 24rem;
    width: 18rem;
    margin: 1rem;
    border-radius: var(--roundness);
    transition: all .5s;
    flex-direction: column;
}

.main2_feature:hover {
    background-color: #f2b035;
    transform: scale(1.05)
}

.headline{
    font-family: craft;
}

@media (max-width: 1599px) {
    .main2_features_div {
      margin-left: 10rem;
      margin-right: 10rem;
    }
  }
@media (max-width: 1279px) {
    .main2_features_div {
      margin-left: 0rem;
      margin-right: 0rem;
    }
  }


.main2_feature_img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: var(--roundness);
}

.main2_feature_headline {
    margin-bottom: 100px;
    text-align: center;
    font-size:1.5rem;
    font-weight: 700;
    margin-top: 50px;
    font-family: craft
}

.bonfire{
    width: 140px;
    padding-left: 70px ;
    padding-bottom: 50px;
    margin-top: -80px;
    
}

.bedny{
    color: black;
    font-family: craft;
}

.main2_feature_text {
    margin:1rem;
    text-align: center;
    font-size:1.2rem;
    margin-top: -10px;

}

.zahraj{
    color:black;
    text-align: left;
    font-family: sans-serif;
    padding: 0 5px 0 5px;
    margin-bottom: 100px;
    font-family: craft;
}

li{
    text-align: left;
}

ul{
    margin-left: 120px;
}

.aaa{
    text-decoration: underline;
}

.main4 {
    min-height: 18rem;
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.main4_dc_widget {
    border-radius: var(--roundness);
    border: 0;
}

.main4_dc_div {
    margin-left: 27rem;
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    background-color: var(--background1);
    border-radius: var(--roundness);
    max-width: 48rem;
    position: relative;
    float: right;
}

  .parallax1 {
    /* The image used */
    background-image: url("image.png");
    height: 200px;
    width:100%;
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
  }

  
.panacicek{
    width: 230px;
    padding-right: 50%;
    padding-left: 38%;
    padding-top: 30px;
    position: absolute;


}

.main4_dc_description_div {
    display: flex;
    flex-direction: column;
}

.main4_dc_description_title {
    margin: 2rem;
    text-align: center;
    font-size:1.5rem;
    font-weight: 700;

}


.main4_dc_description {
    margin-left:1.5rem;
    margin-right:1.5rem;
    margin-bottom:1.5rem;
    font-size:1.2rem;
}
.main4_dc_button_a{
    text-decoration: none;
    color: #fff;
    text-align: center;
    /*border: solid var(--accent1) 1px;
    border-radius: var(--roundness);*/
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    transition: all .5s;
}
/*.main4_dc_button_a:hover{
    border: solid 1px var(--accent2);
    background-color: var(--accent2);
    transform: scale(1.05)
}*/
.main4_dc_button {
    padding:.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.main3 {
    background-color: var(--background1);
    min-height: 10rem;
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction:column;
}

.main3_join_div_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap-reverse;
    margin: 1rem;
}

.main3_join_div {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 8rem;
    background-color: var(--background2);
    border-radius: var(--roundness);
    margin: 1rem;
    padding: 1rem;
}

.main3_join_title {
    text-align: center;
    font-size:1.5rem;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    transition: all .5s;
    margin-bottom: .5rem;
}

.main3_join_content_div {
    display: flex;
    flex-direction: row;
    background-color: var(--background1);
    height: 100%;
    border-radius: var(--roundness);
    align-items: center;
    justify-content: center;
}

.main3_join_categories {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size:1.4rem;
    line-height: 1.5;
    border-right: 3px solid var(--background2);
    padding-right: .75rem;
}
.main3_join_values {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size:1.4rem;
    line-height: 1.5;
    border-left: 3px solid var(--background2);
    padding-left: .75rem;
}




  
  .icon-container {
    display: flex;
    margin: 0 0 20px 0;
    background-color: #000;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .icon img {
    width: 60px;
    height: 60px;
    transition: transform 0.3s, filter 0.3s;
    margin-left: 1000%;
    margin-top: 20px;
    margin-bottom: 20px; 
  }

  @media (min-width: 2560){
    .icon img {
        margin-left: 2075%;
      }
  }
  
  .icon:hover img {
    transform: scale(1.2);
    filter: brightness(0) saturate(100%) invert(47%) sepia(100%) saturate(5600%) hue-rotate(0deg) brightness(102%) contrast(100%);
  }
  
  .icon a {
    display: inline-block;
    
  }

.copyright {
    color: #ffffff99;
    text-decoration: none;
}

.copyright_div {
    display: flex;
    justify-content: center;
    padding: 16px;
    width:auto;
    background-color: #000;
}
.mobile_navbar{
    display:none;
}


@media (max-width: 430px){
    body {
        max-width: 430px;
    }
    
    .banner {
        display: flex;
        position: fixed;
        background-color: #ff000099;
        width: 100%;
        height: 3rem;
        z-index: 10;
        font-size: 2rem;
        font-weight: 600;
        justify-content: center;
        backdrop-filter: blur(15px);
        align-content: center;
        padding-top: .4rem;
    }

    .headline {
        margin-top: 2rem;
        color: #fff;
        font-size:3rem;
        text-align: center;
        font-weight: 600;
    } 
    
    @media (max-width: 430px){
        .mobile_navbar {
            display: block;
            overflow: hidden;
            background-color: #00000033;
            /*backdrop-filter: blur(15px);*/
            position: fixed;
            width: 100%;
            max-width: 380px;
            z-index: 5;
            flex-direction: row;
            min-height: 53px;
    
        }
        
        .mobile_navbar_logo_img {
            position: absolute;
            display: block;
            height: 42px;
            padding-left: .5rem;
            top: 0;
            left: 0;
            padding-top: 3.5px;
        }
        
        .mobile_navbar #mobile_navbar_links {
            display: none;
            margin-top: 53px;
            flex-direction: column;
            align-items: center;
            width: 100%;
            background-color: #00000011;
        }
        
        .mobile_navbar_link {
            padding:.5rem;
        }
        
        .mobile_navbar a {
            color: white;
            text-decoration: none;
            font-size: 17px;
            display: block;
        }
        
        .mobile_navbar .icon {
            background-color: #00000044;;
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            padding: 16px;
            height: 20px;
            width: 30px
        }
        
        i{
            color: white;
        }
        
        .mobile_navbar_logo_img_a {
            display: block;
            background-color: #00000022;
        } 
    }
        
        @media (min-width: 431px){
            .mobile_navbar {
                display:none;
                overflow: hidden;
                background-color: #00000033;
                backdrop-filter: blur(15px);
                position: fixed;
                width: 100%;
                max-width: 430px;
                z-index: 5;
                flex-direction: row;
                min-height: 53px;
            }
            
            
            .mobile_navbar_logo_img {
                position: absolute;
                display: block;
                height: 42px;
                padding-left: .5rem;
                top: 0;
                left: 0;
                padding-top: 3.5px;
            }
            
            .mobile_navbar #mobile_navbar_links {
                display: none;
                margin-top: 53px;
                flex-direction: column;
                align-items: center;
                width: 100%;
                background-color: #00000011;
            }
            
            .mobile_navbar_link {
                padding:.5rem;
            }
            
            .mobile_navbar a {
                color: white;
                text-decoration: none;
                font-size: 17px;
                display: block;
            }
            
            .mobile_navbar .icon {
                background-color: #00000044;;
                display: block;
                position: absolute;
                right: 0;
                top: 0;
                padding: 16px;
                height: 30px;
                width: 30px
            }
            
            i{
                color: white;
            }
            
            .mobile_navbar_logo_img_a {
                display: block;
                background-color: #00000022;
            } 
        }
        
            @media (max-width: 768px) {
                .desktop_navbar {
                    display: none;
                }
                .mobile_navbar {
                    display: block;
                }
            }
    
    .minecraft{
        font-size: 20px;
        font-weight: 900;
    }
    
    .main1 {
        padding-top: calc(var(--nice-padding) + 2rem);
        display:flex;
        width: 100%;
        align-self: center;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        background: rgba(0, 0, 0, .5) url(m.jpg);
        /*background-blend-mode: darken; */
        background-repeat: no-repeat;
    }

    @media (max-width: 2560px) {
        .main1 {
            width: 100%;
            height: 50vh; /* Celá výška okna */
            background-image: url('m.jpg');
            background-size: cover; /* Přizpůsobí obrázek tak, aby vyplnil celý prostor */
            background-repeat: no-repeat; /* Zabraňuje opakování obrázku */
            background-position: center; /* Centrovat obrázek */
        }
    }

    .main1_logo_a {
        margin-bottom: var(--nice-padding);
        cursor: default;
    }
    
    .main1_logo {
        display: block;
        align-self: center;
        margin-left:auto;
        margin-right: auto;
        transition: all .6s;
        max-width: 50rem;
    }
    .main1_logo:hover {
        transform: scale(1.10)
    }
    
    .main1_description {
        text-align: center;
        font-size:3rem;
        margin-bottom: var(--nice-padding);
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    .main1_actcent {
        font-weight: 800;
        color:var(--accent1);
        color: #CD5C5C;
        font-family: mine;
        text-shadow: 5px 5px #5e1d0c;
    }
    
    .main1_popup {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -0%);
        text-align: center;
        background-color: rgba(0, 175, 0, 0.1);
        border:solid rgba(0, 175, 0, 1) 1px;
        color: #000;
        border-radius: var(--roundness);
        z-index: 9999;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: -10.5rem;
    }
    
    .main1_downarrow {
        opacity: 80%;
        height: 1.5rem;
        padding:2rem;
        transition: all .5s;
        align-items: center;
        padding-left: 47%;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }
    
    /*------------------------------------------------------------------------------------*/
    
    .main1_downarrow:hover {
        opacity: 1; /* Plná neprůhlednost při najetí myší */
        transform: translateY(10px); /* Posun šipky o 10px dolů */
    }
    
    .main2 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        padding-bottom: 1rem;
        background-color: var(--background2); /*var(--background2)*/
        width: 100%;
    }
    
    .main2_features_div {
        padding-top: 2rem;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-wrap:wrap;
    }
    
    .main2_feature {
        display: flex;
        background-color: #CD5C5C/*var(--background1)*/;
        height: 24rem;
        width: 18rem;
        margin: 1rem;
        border-radius: var(--roundness);
        transition: all .5s;
        flex-direction: column;
    }
    
    .main2_feature:hover {
        background-color: #f2b035;
        transform: scale(1.05)
    }
    
    .headline{
        font-family: craft;
    }
    
    @media (max-width: 1599px) {
        .main2_features_div {
          margin-left: 10rem;
          margin-right: 10rem;
        }
      }
    @media (max-width: 1279px) {
        .main2_features_div {
          margin-left: 0rem;
          margin-right: 0rem;
        }
      }
    
    
    .main2_feature_img {
        width: 100%;
        height: 50%;
        object-fit: cover;
        border-radius: var(--roundness);
    }
    
    .main2_feature_headline {
        margin-bottom: 100px;
        text-align: center;
        font-size:1.5rem;
        font-weight: 700;
        margin-top: 50px;
        font-family: craft
    }
    
    .bonfire{
        width: 140px;
        padding-left: 70px ;
        padding-bottom: 50px;
        margin-top: -80px;
        
    }
    
    .bedny{
        color: black;
        font-family: craft;
    }
    
    .main2_feature_text {
        margin:1rem;
        text-align: center;
        font-size:1.2rem;
        margin-top: -10px;
    
    }
    
    .zahraj{
        color:black;
        text-align: left;
        font-family: sans-serif;
        padding: 0 5px 0 5px;
        margin-bottom: 100px;
        font-family: craft;
    }
    
    li{
        text-align: left;
    }
    
    ul{
        margin-left: 120px;
    }
    
    .aaa{
        text-decoration: underline;
    }
    


    .main4 {
        min-height: 18rem;
        width:100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 430px; 
        text-align: left;
    }

    
    .parallax1 {
        background-image: url("image.png");
        height: 200px;
        width:100%;
        min-height: 500px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
      }
    
      
.main4_dc_div{
    width:200px;
    margin-right: 200px;
    height: 50vw
}

    
    .main4_dc_description_div {
        display: flex;
        text-align: left;
        max-width: 50px;
        margin-right: 200px;
        margin-top: -40px;

    }
    
    .main4_dc_description_title {
        margin: 2rem;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        width: 100px
    }
    
    .main4_dc_description {
        margin-left:.5rem;
        margin-right:1.5rem;
        margin-bottom:1.5rem;
        font-size:.8rem;
        width: 180px;
        margin-top: -20px;
    }

    .main4_dc_button_a{
        text-decoration: none;
        color: #fff;
        text-align: center;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 1.5rem;
        transition: all .5s;      
    }

    .desktop_navbar_link2_div{
        width: 70px;
        font-size: 13px;
    }

    .main4_dc_button {
        padding:.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    


    .main3_join_div {
        display: flex;
        flex-direction: column;
        max-width: 10rem;
        max-height: 4rem;
        background-color: var(--background2);
        border-radius: var(--roundness);
        margin: 1rem;
        padding: 1rem;
        margin-left:5%;
        margin-top: 0px;
    }
    
    .main3_join_title {
        text-align: center;
        font-size:.8rem;
        font-weight: 700;
        color: #fff;
        text-decoration: none;
        transition: all .5s;
        margin-bottom: .5rem;
    }
    
    .main3_join_content_div {
        display: flex;
        flex-direction: row;
        background-color: var(--background1);
        height: 100%;
        border-radius: var(--roundness);
        align-items: center;
        justify-content: center;
    }
    
    .main3_join_categories {
        display: flex;
        flex-direction: column;
        text-align: right;
        font-size:.6rem;
        line-height: 1.5;
        border-right: 3px solid var(--background2);
        padding-right: .75rem;
    }
    .main3_join_values {
        display: flex;
        flex-direction: column;
        text-align: left;
        font-size:.6rem;
        line-height: 1.5;
        border-left: 3px solid var(--background2);
        padding-left: .75rem;
    }
    
    .main3 {
        background-color: var(--background1);
        min-height: 10rem;
        max-width: 430px;
        display: flex;
        justify-content: center;
        flex-direction:column;
        
    }
      
      .icon img {
        width: 30px;
        height: 30px;
        margin-left: 700%;
        margin-top: 20px;
        margin-bottom: 20px; 
      }
    
    .copyright {
        color: #ffffff99;
        text-decoration: none;
    }
    
    .copyright_div {
        display: flex;
        justify-content: center;
        padding: 16px;
        width:auto;
        background-color: #000;
    }
     
    @media only screen and (max-width: 600px) {
        .mobile_navbar{
            display:flex;
        }
        .headline {
            font-size:1.9rem;
            margin-right: 1rem;
            margin-left: 1rem;
        }
        .main1_logo {
            max-width: 16rem;
        }
        .main1_description {
            font-size: 2.5rem;
            margin-bottom: 2rem;
        }
        .main1_ipcopier {
            display: none;
        }
        .main5_admins_img {
            align-self: center;
            padding-top: 1rem;
        }
        .main5_admins_div{
            flex-direction: column;
            min-height: 0;
        }
        .main5_admins_description_div {
            max-width: 100%;
            padding: 2rem;
        }
        .main4_dc_div {
            flex-direction: column;
        }
        .main4_dc_widget {
            height: 20rem;
            width: 100%;
        }
        .main3_join_div {
            min-width: 20rem;
            min-height: 9rem;
        }
        .main3_join_content_div {
            padding:1rem;
        }
        .main5_admins_dev_type1 {
            padding-right: 0;
        }
        .main5_admins_dev_type2 {
            padding-left: 0;
        }
    }
   
    
}

.icon{
    width: 2.52%;
    margin-right: 50%;
    height: auto;
}
